.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app {
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}

.vortex-canvas {
  padding: 1rem;
  width: 75%;
}

.canvas-rounds,
.point-multiplier,
.starting-point,
.total-points {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  max-width: fit-content;

}

.canvas-inputs {
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .svg-vortex {
    width: 100%;
    animation: svg-vortex-spin infinite 20s linear;
  }
}

@keyframes svg-vortex-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.svg-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.svg-container {
  padding-left: 10%;
  width: 60%;
}

.youtube-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.source-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

iframe {
  border-radius: 1rem;
}

.save-btn {
  margin: 1rem;
  padding: .5rem;
  border-radius: .5rem;
}

.outer-limits {
  display: flex;
  padding: 1rem;
  margin: 0.2rem;
}

.outer-limit-start {
  margin-left: 1rem;
}

.outer-limit-end {
  margin-left: 1rem;
}

.range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: fit-content;
}

.colors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.color-fg {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.color-bg {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.checkbox-spin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  max-width: 25rem;
}
.formula-text {
  padding: 1rem;
}
.about-this-app {
  padding: 1rem;
}