
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app {
  font-size: calc(10px + 2vmin);
}
.vortex-canvas {
  padding: 1rem;
  width: 75%;
}
.canvas-rounds,
.point-multiplier,
.starting-point,
.total-points {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 15rem
}

.canvas-inputs {
  display:flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .svg-vortex {
    width: 80%;
    padding: 1rem;
    animation: svg-vortex-spin infinite 20s linear;
  }
}

@keyframes svg-vortex-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.svg-wrapper {
  width: 80%;
  align-items: center;
  align-content: center;
  padding: 1rem;
}

.youtube-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem
}

.source-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

iframe {
  border-radius: 1rem;
}